banned-players.json
banned-ips.json
cache
usercache.json
whitelist.json
crash-reports/
world/
world_nether/
world_the_end/
logs/
ops.json
permissions.yml
libraries/
.console_history
plugins/ExploitFixer/locales/
plugins/Towny/data/
plugins/Towny/backup/
plugins/Towny/logs/
plugins/Towny/settings/lang/
plugins/Towny/debtAccountsConverted/
plugins/mcMMO/flatfile/
plugins/mcMMO/backup/
plugins/dynmap/web/
plugins/dynmap/texturepacks/
plugins/dynmap/templates/
plugins/dynmap/renderdata/
plugins/dynmap/markers/
plugins/dynmap/export/
plugins/dynmap/ids-by-ip.txt
plugins/dynmap/lightings.txt
plugins/dynmap/shaders.txt
plugins/dynmap/colorschemes/
plugins/dynmap/world.pending
plugins/TAB/placeholder-errors.log
plugins/spark/activity.json
plugins/Essentials/usermap.csv
plugins/Essentials/userdata/
plugins/spark/tmp/
*.db
plugins/iConomy/VERSION
abrir.bat
reset plugins/spark/tmp/
plugins/SuperVanish/data.yml
plugins/WorldEdit/sessions/
plugins/WorldEdit/.archive-unpack
plugins/WorldEdit/assets
plugins/ProtocolLib/lastupdate
plugins/CoreProtect/.license
plugins/CombatLogX/playerdata/
plugins/HolographicDisplays/database.yml
plugins/CrateReloaded/messages/
plugins/CrateReloaded/claim/
plugins/CrateReloaded/location.yml
plugins/LuckPerms/translations/
plugins/SiegeWar/lang/
plugins/Chunky/tasks/
plugins/Chunky/borders.json
server.properties
abrir.bat
cratereloaded-*.zip
plugins/Chunky/tasks/
plugins/dynmap/ids-by-ip.txt
plugins/TAB/anti-override.log
version_history.json

