banned-players.json
banned-ips.json
cache
usercache.json
whitelist.json
world/
world_nether/
world_the_end/
logs/
ops.json
permissions.yml
libraries/
.console_history
plugins/Towny/data/
plugins/mcMMO/flatfile/
