banned-players.json
banned-ips.json
cache
usercache.json
whitelist.json
world/
world_nether/
world_the_end/
logs/
ops.json
permissions.yml
libraries/
.console_history
plugins/Towny/data/
plugins/Towny/backup/
plugins/Towny/logs/
plugins/Towny/debtAccountsConverted/
plugins/mcMMO/flatfile/
plugins/mcMMO/backup/
plugins/dynmap/
plugins/Essentials/usermap.csv
plugins/Essentials/userdata/
plugins/iConomy/minecraft.trace.db
plugins/iConomy/minecraft.lock.db
plugins/iConomy/minecraft.h2.db
plugins/iConomy/VERSION
plugins/SuperVanish/data.yml
plugins/LuckPerms/luckperms-h2.mv.db
plugins/spark/tmp/
plugins/WorldEdit/sessions/
plugins/WorldEdit/.archive-unpack
plugins/WorldEdit/assets
plugins/CoreProtect/database.db
plugins/CoreProtect/.license
plugins/CombatLogX/playerdata/
abrir.bat